* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100vh;
	position: relative;
}

.square {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
	animation-name: contorno;
	animation-duration: 5s;
	/* animation-iteration-count: infinite; */
}

@keyframes contorno {
	25% {
		top: 0;
		left: calc(100% - 50px);
	}
	50% {
		top: calc(100% - 50px);
		left: calc(100% - 50px);
	}
	75% {
		top: calc(100% - 50px);
		left: 0;
	}
	100% {
		top: 0;
		left: 0;
	}
}